<div class="contact-wrapping">
<div class="container-fluid">
  <div class="row">
    <!-- Left section with text -->
    <div class="col-md-6 contact-left">
      <div class="d-flex flex-column justify-content-center h-100 text-center">
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us at</p>
         <ul class="list-unstyled">
           <li><strong>Email: </strong><a class="no-link-style" href="mailto:mateo.marjanovic@ipi-akademija.ba">mateo.marjanovic&#64;ipi-akademija.ba</a></li>
           <li><strong>Phone: +387 11 111 111</strong></li>
           <li><strong>FAX: +387 22 222 222</strong></li>
         </ul>
       </div>
     </div>

     <!-- Right section with image -->
      <div class="col-md-6 contact-right">
        <img src="https://i.imgur.com/NgQIxGq.png" alt="map" class="img-fluid h-100 w-100">
     </div>
    </div>
  </div>
</div>
