<div class="wrapper container mt-5">
  <h2 class="text-center mb-4">About Us</h2>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="box rounded shadow-sm p-4">
        <h4>Development</h4>
        <p>Developed by Mateo Marjanović, a 4th year IT student currently studying Informatics & Computer Science at IPIA, Tuzla, Bosnia and Herzegovina.</p>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="box rounded shadow-sm p-4 blue-gradient">
        <h4>The Vision</h4>
        <p class="vision-paragraph">This website was made as a full stack final project for the Web Development class. The entire project is available on GitHub.com/comet125.</p>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="box rounded shadow-sm p-4">
        <h4>About the project</h4>
        <p>A modern news management system built with Angular and PHP microservices, featuring user authentication, role-based access control, and a responsive UI. </p>
      </div>
    </div>
  </div>


  <div class="mt-5">
    <h3 class="text-center">Details</h3>
    <p class="text-center">
      A modern news management system built with Angular and PHP microservices, featuring user authentication, role-based access control, and a responsive UI. Users can post and manage news content through an intuitive interface, while administrators have full CRUD capabilities for both users and news entries via a dedicated dashboard.

      The main purpose is to allow users to post and manage news content with different levels of access -
      regular users can post news and manage their profiles, guests can preview the site and admins have full
      control over users and news content.</p>
    <br>
    <p class="text-center"><b>The technical highlights include:</b></p>
    <br>
    <li class="text-center">Angular for the frontend</li>
    <li class="text-center">PHP microservices connecting to MySQL database</li>
    <li class="text-center">Security features like BCrypt password hashing</li>
    <li class="text-center">Responsive design that works across different devices</li>
    <li class="text-center">Calendar component for filtering news</li>
    <li class="text-center">Modal windows for displaying full news content</li>
  </div>
</div>
