<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center">
    <h1>Admin Panel</h1>

    <a routerLink="/login" class="text-danger">
      <i class="bi bi-box-arrow-right fs-3"></i>
    </a>
  </div>


  <div class="action-panel">
    <button class="btn btn-secondary w-100"
          type="button"
           data-bs-toggle="collapse"
           data-bs-target="#userEditingCollapse"
           aria-expanded="false"
           aria-controls="userEditingCollapse"
           (click)="toggleUserEditing()">User Editing</button>

   <div *ngIf="userEditingVisible" class="editing-container mt-3" [ngClass]="{'show': userEditingVisible}">
      <div class="card p-3">
        <h5 class="card-title">User Editing</h5>
        <app-admin-userpanel></app-admin-userpanel>
      </div>
   </div>

    <div class="other-panel">
      <button class="btn btn-secondary w-100"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#userCreationCollapse"
             aria-expanded="false"
             aria-controls="userCreationCollapse"
             (click)="toggleUserCreation()">User Creation</button>

      <div *ngIf="userCreationVisible" class="editing-container mt-3" [ngClass]="{'show': userCreationVisible}">
        <div class="card p-3">
         <h5 class="card-title">User Creation</h5>
          <app-admin-usercreate></app-admin-usercreate>
        </div>
      </div>
    </div>

    <!-- news edit -->
    <div class="other-panel">
      <button class="btn btn-secondary w-100"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#newsEditingCollapse"
             aria-expanded="false"
              aria-controls="newsEditingCollapse"
             (click)="toggleNewsEditing()">News Editing</button>

     <div *ngIf="newsEditingVisible" class="editing-container mt-3" [ngClass]="{'show': newsEditingVisible}">
       <div class="card p-3">
         <h5 class="card-title">News Editing</h5>
          <app-admin-newspanel></app-admin-newspanel>
        </div>
     </div>
    </div>

    <!-- news add -->
    <div class="last-panel">
      <button class="btn btn-secondary w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#newsAddCollapse"
              aria-expanded="false"
              aria-controls="newsAddCollapse"
              (click)="toggleNewsAdd()">Add News</button>

      <div *ngIf="newsAddVisible" class="editing-container mt-3" [ngClass]="{'show': newsAddVisible}">
        <div class="card p-3">
          <h5 class="card-title">Add News</h5>
          <app-news-creation></app-news-creation>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
