.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 80px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.navbar-hamburger:hover {
  transform: scale(1.2);
}

.navbar-hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.navbar-hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-hamburger.active span:nth-child(2) {
  opacity: 0;
}

.navbar-hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-menu {
  font-family: Arial, sans-serif;
  display: none;
  width: 20%;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transform-origin: top;
}

.navbar-menu.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.navbar-link {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.navbar-link:last-child {
  border-bottom: none;
}

.navbar-link:hover {
  background-color: #007bff;
  color: #ffffff;
  transition: 0.3s;
}

.navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #333;
  transition: transform 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
