<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

<nav class="navbar">
  <div class="navbar-hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-logo">
    mnn
  </div>

  <div class="navbar-menu" [class.open]="menuOpen">
    <a href="/home" class="navbar-link">Home</a>
    <a href="/about" class="navbar-link">About</a>
    <a href="/contact" class="navbar-link">Contact</a>
    <a href="/submit" class="submit-link">Submit news</a>
  </div>

  <div class="navbar-profile">
    <a [routerLink]="['/profile']">
      <i class="bi bi-person-circle"></i>
    </a>
  </div>
</nav>
