/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  background-color: #ffffff;
  padding: 10px 20px;
  outline-color: #2b6df8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(43, 109, 248, 0.32);
  position: relative;
}

/* Centered Logo */
.navbar-logo {
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: #2b6df8;
  text-align: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Keeps it above other elements */
}

/* Hamburger Menu */
.navbar-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 2; /* Ensures it's clickable */
}

.navbar-hamburger:hover {
  transform: scale(1.2);
}

.navbar-hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.navbar-hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-hamburger.active span:nth-child(2) {
  opacity: 0;
}

.navbar-hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Navbar Menu */
.navbar-menu {
  display: none;
  width: 20%;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transform-origin: top;
}

.navbar-menu.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.navbar-link {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.navbar-link:hover {
  background-color: #007bff;
  color: #ffffff;
  transition: 0.3s;
}

/* Submit Link */
.submit-link {
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  background: rgb(0,139,255);
  background: linear-gradient(90deg, rgb(84, 48, 219) 0%, rgb(127, 108, 198) 100%);
  font-size: 20px;
  border-radius: 10px;
}

.submit-link:hover {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgb(147, 129, 216) 0%, rgb(255, 255, 255) 100%);
  color: #333;
  transition: 0.3s;
}

/* Profile Icon */
.navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-profile i {
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease;
}

.navbar-profile i:hover {
  transform: scale(1.2);
  color: #007bff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-logo {
    font-size: 20px;
  }
}
