.experiment{
  background: radial-gradient(circle, rgba(106, 17, 203, 0.32), rgba(255, 255, 255, 0));
  height: 100%;
  overflow-y: scroll;
}
/* Gradient Header */
.gradient-left {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

.footer-evade {
  padding-bottom: 100px;
}

.latest-color{
  color: black ;
}

.secondary-color {
  background: linear-gradient(135deg, #6c757d, #8f9498) !important;
}

.distance-jumbotron{
  margin-top: 30px;
}

.card-bgr {
  border-radius: 20px;
}
/* Card Header Styling */
.card-header {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

/* Card Body */
.card-body {
  padding: 1.5rem;
}

/* News Section */
h1 {
  color: #ffffff;
  font-weight: bold;
}

/* Button Styling */
.btn-primary, .btn-secondary {
  width: 100%;
}

.btn-primary {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  border: none;
}

.btn-secondary {
  background: #6c757d;
  border: none;
}

.btn-primary:hover, .btn-secondary:hover {
  opacity: 0.9;
}
